.ContainerLogin{
    position : absolute;
	width : 100%;
	height : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ModalLogin{
    width: 400px;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;
}
div label{
  font-size: 20px; 
}
.Fila{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}
.Boton{
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    
}